.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.cart-empty {
    text-align: center;
    margin-top: 50px;
}

.cart-empty p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-empty a {
    text-decoration: none;
    background-color: #0069d9;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}